:root {
  --header-height: 4rem;
}

*, * *, * * * {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #222;
  color: #ddd;
}

label {
  cursor: pointer;
}
input, button, select {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

header {
  height: var(--header-height);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 3rem;
}

#trivia-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem
}

#trivia-form.working::after {
  content: 'LOADING...';
  position: absolute;
  font-size: 2rem;
  color: inherit;
  left: 50%;
  translate: -50%;
  top: calc(var(--header-height) * 4);
  animation: stretch infinite alternate 500ms;
}

form > button {
  width: 6rem;
}

#card-area {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

#answers-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.trivia-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(108, 108, 108);
  color: #222;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.153);
  opacity: 0;
  transition: opacity 500ms ease, background-color 500ms ease;
}

.trivia-card.showing {
  opacity: 1;
}

.button-end {
  border-radius: 3rem;
  margin: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(108, 108, 108);
  color: #222;
  padding: 1rem;
}
.button-end > button {
  font-size: 1.5rem;
}

.trivia-card h4 {
  opacity: 0.5;
  margin: 0.5rem;
}

.question {
  font-size: 1.2rem;
  margin: 0.5rem;
}

@keyframes stretch {
  from {
    scale: 0.5 1;
  }
  to {
    scale: 1 0.5;
  }
}